.container-new-n {
  padding: 30px 50px;
  border-radius: 8px;
  width: 100%;
  background: white;
  height: 100vh;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}


.bg-image {
  background-size: cover;

}
