.box {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-top: 30px;
 }

 h1 {
   margin-bottom: 20px;
   text-align: left;
 }
 h6 {
   margin-top: 0;
   margin-bottom: 15px;
   text-align: left;
 }
 p {
   text-align: left;
 }
.profile-avatar {
position: relative;

}
.avatar-bordered {
    width: 70px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: white 1px solid;
    margin-left: 15px;
    margin-bottom: 220px;
    margin-right: 40px;
  }


.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  outline: 0;
  border-radius: 20px 70px;
  height: 450px;
  padding-right: 25px;
  padding-left: 25px;
  }

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3rem 2rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    padding-bottom: 15px;
}
.modal-footer {
padding-right: 50px;
padding-bottom: 20px;
}

.avatar-bordered {
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: white 1px solid;
    margin-left: 15px;
    margin-bottom: 0;
    margin-right: 40px;
}

.activity-image{
  margin-top:30px;
padding-top: 30px;
  width: 400px;
  height: 300px;
}

// .card-trip > img {
//     height: 200px;
//     width: 100%;
//     -o-object-fit: cover;
//     object-fit: cover;
//     padding-top: 10px;
// }

.card-trip > img {
    height: 200px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    padding-top: 18px;
    box-shadow: 0px 15px 10px rgba(0,0,0,0.2);
    border-top-right-radius: 60px;
}

.card-trip {
  min-width:230px;
  width:230px;
   overflow: hidden;
   background: white;
   box-shadow: 0 0 15px rgba(0,0,0,0.2);
   border: 1px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
 }
 .card-trip .card-trip-infos {
  padding: 22px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  font-family: 'Oxygen', sans-serif;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  // display: flex;
  // flex-wrap: wrap;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.inline {
    display: inline-block;

    }

.image-brightness{
  filter: brightness(70%);
}
  .insert-image{
      box-shadow: 0 0 5px rgba(0,0,0,0.5);
      margin-bottom: 5px;
    }
  .moving-activity-name{
      position:relative;
      bottom:33px;

    }

    .moving-activity-address{
      position:relative;
      bottom:18px;

    }

  #map{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    position: sticky;
    top: 100px;
  }

// background: #FFFFFF;
// mix-blend-mode: normal;
// border: 3px solid #71DCEB;
// box-sizing: border-box;
// box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
// border-radius: 20px 70px;
