<div class="card-activity">
    <div class="image" style="background-image: url('<%= image_path 'banner1.jpg' %>');"></div>
    <div class="card-bottom">
      <div>
        <h4>h4l</h4>
      </div>
      <div>
        <p>p</p>
      </div>
      <div>
        <h4>h4r</h4>
      </div>
    </div>
</div>

