<div class="footer">
  <div class="footer-links">
    <a href="https://instagram.com/_22west_?igshid=l2wnftwoj10f"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
