<div class="container">
  <div class="row justify-content-center">
    <div class="col-9">
  <h2>My activities</h2>
  <hr>
  <br>
    <% current_user.activities.each do |activity|%>
    <div class="card">
      <div class="card-body">
        <h4><%= activity.name %></h4>
        <p><%= activity.description %></p>
      </div>
    </div>
    <br>
    <% end %>
<!--   <br>
  <h1>Bookmarked activities</h1>
  <hr> -->
    </div>
  </div>
</div>
