<div class="container">


  <h1>My Activities</h1>
  <br>
  <% @activities.each do |activity|%>
  <div class="card-product">
    <div class="card-product-infos">
      <h2><%= activity.name %></h2>
      <p><%= activity.description %></p>
    </div>
  </div>
  <% end %>
  <h1>My Rentals</h1>
  <hr>

  <h3>Upcoming</h3>
</div>
