<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= image_path 'banner1.jpg' %>');">
  <div class="banner-content">
    <div class="banner-text">
      <h2>Welcome to</h2>
      <h1>travel<strong>m8</strong></h1>
    </div>
    <div class="text-right">
      <div id="text-margin-right">
        <h2>Find your travel mate</h2>
      </div>
        <div class="container-search">
          <%= form_tag activities_path, method: :get do %>
          <div class="homepage-search">
            <div class='inline2' id="address-input">
              <%= text_field_tag :query,
              params[:query],
              class: "form-control address-input",
                placeholder: "Location"
              %>
              </div>
              <div class='inline'>
                <%= submit_tag "Search", class: "btn btn-danger" %>
              </div>
            <% end %>
            </div>
        </div>
      </div>
  </div>
</div>

    <div class="suggestion">
      <h2><strong>Suggestions for you:</strong></h2>
    </div>

