.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  height: 350px;
  transition:2s;
}
.banner:hover{
  background-position: top center;
}
.banner h1 {
  margin: 50;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  vertical-align: center;
}

.banner p {
  font-size: 20px;
  // color: white;
  color: #0e0000;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-container {
  // display: flex ;
  // flex-direction: column;

}
