.card-dashboard-activity {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;

  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 1px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 60px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
 }

.card-dashboard-description {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  font-family: 'Oxygen', sans-serif;
}






