.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(45deg, #71DCEB, white);
  padding: 0px 16px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

