<div class="container">
  <h2>Activities</h2>
</div>

<!-- <div class="container-search">
  <%#= form_tag activities_path, method: :get do %>
  <div class='inline'>
    <%#= text_field_tag :query,
    params[:query],
    class: "form-control",
      placeholder: "Location"
      %>
    </div>
    <div class='inline'>
      <%#= submit_tag "Search", class: "btn btn-primary" %>
    </div>
    <%# end %>
  </div>

  <div class="container-search">
    <%#= form_tag activities_path, method: :get do %>
    <div class='inline'>
      <%#= text_field_tag :start_date,
      params[:start_date],
      class: "form-control",
        placeholder: "Start Date"
        %>
      </div>
      <div class='inline'>
        <%#= submit_tag "Search", class: "btn btn-primary" %>
      </div>
      <%# end %>
    </div>


    <div class="container-search">
      <%#= form_tag activities_path, method: :get do %>
      <div class='inline'>
        <%#= text_field_tag :end_date,
        params[:end_date],
        class: "form-control",
          placeholder: "End Date"
          %>
        </div>
        <div class='inline'>
          <%#= submit_tag "Search", class: "btn btn-primary" %>
        </div>
        <%# end %>
      </div>

      <div class="container-search">
        <%#= form_tag activities_path, method: :get do %>
        <div class='inline'>
          <%#= text_field_tag :name,
          params[:name],
          class: "form-control",
            placeholder: "Category"
            %>
          </div>
          <div class='inline'>
            <%#= submit_tag "Search", class: "btn btn-primary" %>
          </div>
          <%# end %>
        </div>


        <div class="cards">
          <%# @activities.each do |activity| %>
          <div class="card-activity">
            <div class="card-activity-infos" >
              <div >
                <h2 class="card-activity-name"><td> <%#= link_to activity.name, activity %></td></h2>
                <p class="left-even"><td><%#= activity.address %></td></p>
              </div>
          </div>
        </div>
        <%# end %>
      </div> -->
