<div class="bg-image" style="background-image: url(https://images.unsplash.com/photo-1570481225100-02c2fe163e68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1332&q=80);">

<div class="row justify-content-center">
    <div class="col-8 col-md-5" >
<div class="container-new-n" >
  <h3 id="new-activity">Add an activity</h3>

  <%= render 'form' %>
</div>
</div>
</div>
</div>



